# env variables
.env
.env.local

# python/FastAPI
__pycache__/
*.pyc
venv/
.venv/
.thumbnailbuilder.db

# js/reactjs
node_modules/
dist/
.eslintcache

# system files
.DS_Store
.vscode/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/ThumbLab.iml
/.idea/vcs.xml
